* {
  padding: 0;
  margin: 0;
}

:root {
  --grid-size: 800px;
  --color: #808080;
  --border-color: #d2d2d2;
}

body {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 8px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  width: var(--grid-size);
  height: var(--grid-size);
  border: 1px solid #000;
}

.grid div {
  box-sizing: border-box;
  border: 1px solid var(--border-color);
}

.grid div:hover {
  background: #808080;
}

.controls input[type="button"] {
  margin: 3px;
  padding: 3px;
  font-size: 16px;
}

.control {
  margin: 16px;
}


